-- Add Reservation System Support
-- This script adds reservation functionality to the existing order system

-- Add reservation-specific columns to orders table
ALTER TABLE orders 
ADD COLUMN IF NOT EXISTS is_reservation BOOLEAN DEFAULT false,
ADD COLUMN IF NOT EXISTS reservation_time TIMESTAMP WITH TIME ZONE,
ADD COLUMN IF NOT EXISTS reservation_date DATE,
ADD COLUMN IF NOT EXISTS number_of_people INTEGER,
ADD COLUMN IF NOT EXISTS table_preference TEXT,
ADD COLUMN IF NOT EXISTS customer_name TEXT,
ADD COLUMN IF NOT EXISTS customer_phone TEXT,
ADD COLUMN IF NOT EXISTS customer_email TEXT;

-- Update dining_type enum to include reservation
ALTER TABLE orders 
DROP CONSTRAINT IF EXISTS orders_dining_type_check;

ALTER TABLE orders 
ADD CONSTRAINT orders_dining_type_check 
CHECK (dining_type IN ('dine_in', 'takeaway', 'reservation'));

-- Update status enum to include reservation-specific statuses
ALTER TABLE orders 
DROP CONSTRAINT IF EXISTS orders_status_check;

ALTER TABLE orders 
ADD CONSTRAINT orders_status_check 
CHECK (status IN ('pending', 'preparing', 'ready', 'served', 'paid', 'cancelled', 'reservation_confirmed', 'reservation_ready'));

-- Create reservations table for better reservation management
CREATE TABLE IF NOT EXISTS reservations (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  order_id UUID NOT NULL REFERENCES orders(id) ON DELETE CASCADE,
  reservation_date DATE NOT NULL,
  reservation_time TIME NOT NULL,
  number_of_people INTEGER NOT NULL,
  table_preference TEXT,
  customer_name TEXT NOT NULL,
  customer_phone TEXT,
  customer_email TEXT,
  status TEXT NOT NULL DEFAULT 'confirmed' CHECK (status IN ('confirmed', 'ready', 'completed', 'cancelled', 'no_show')),
  special_requests TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create table availability tracking for reservations
CREATE TABLE IF NOT EXISTS table_reservations (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  table_number INTEGER NOT NULL,
  reservation_date DATE NOT NULL,
  reservation_time TIME NOT NULL,
  duration_minutes INTEGER DEFAULT 120, -- Default 2 hours
  reservation_id UUID NOT NULL REFERENCES reservations(id) ON DELETE CASCADE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE(table_number, reservation_date, reservation_time)
);

-- Add indexes for better performance
CREATE INDEX IF NOT EXISTS idx_orders_reservation ON orders(is_reservation, reservation_date, reservation_time);
CREATE INDEX IF NOT EXISTS idx_orders_customer ON orders(customer_name, customer_phone);
CREATE INDEX IF NOT EXISTS idx_reservations_date_time ON reservations(reservation_date, reservation_time);
CREATE INDEX IF NOT EXISTS idx_reservations_status ON reservations(status);
CREATE INDEX IF NOT EXISTS idx_table_reservations_date_time ON table_reservations(reservation_date, reservation_time);
CREATE INDEX IF NOT EXISTS idx_table_reservations_table ON table_reservations(table_number);

-- Function to check table availability for reservations
CREATE OR REPLACE FUNCTION check_table_availability(
  table_num INTEGER,
  res_date DATE,
  res_time TIME,
  duration_mins INTEGER DEFAULT 120
)
RETURNS BOOLEAN AS $$
BEGIN
  -- Check if table is available for the requested time slot
  RETURN NOT EXISTS (
    SELECT 1 FROM table_reservations tr
    WHERE tr.table_number = table_num
    AND tr.reservation_date = res_date
    AND (
      -- Check for overlapping time slots
      (tr.reservation_time <= res_time AND 
       tr.reservation_time + (tr.duration_minutes || ' minutes')::INTERVAL > res_time)
      OR
      (res_time <= tr.reservation_time AND 
       res_time + (duration_mins || ' minutes')::INTERVAL > tr.reservation_time)
    )
  );
END;
$$ LANGUAGE plpgsql;

-- Function to get available tables for a time slot
CREATE OR REPLACE FUNCTION get_available_tables(
  res_date DATE,
  res_time TIME,
  party_size INTEGER DEFAULT 2,
  duration_mins INTEGER DEFAULT 120
)
RETURNS TABLE (
  table_number INTEGER,
  zone TEXT,
  capacity INTEGER
) AS $$
BEGIN
  RETURN QUERY
  SELECT t.number, t.zone, t.capacity
  FROM tables t
  WHERE t.status = 'active'
  AND t.capacity >= party_size
  AND check_table_availability(t.number, res_date, res_time, duration_mins)
  ORDER BY t.capacity ASC, t.number ASC;
END;
$$ LANGUAGE plpgsql;

-- Function to create a reservation
CREATE OR REPLACE FUNCTION create_reservation(
  p_order_id UUID,
  p_reservation_date DATE,
  p_reservation_time TIME,
  p_number_of_people INTEGER,
  p_table_preference TEXT,
  p_customer_name TEXT,
  p_customer_phone TEXT,
  p_customer_email TEXT,
  p_special_requests TEXT DEFAULT NULL
)
RETURNS UUID AS $$
DECLARE
  reservation_id UUID;
  suggested_table INTEGER;
BEGIN
  -- Get suggested table based on party size and availability
  SELECT table_number INTO suggested_table
  FROM get_available_tables(p_reservation_date, p_reservation_time, p_number_of_people)
  LIMIT 1;
  
  -- Create reservation record
  INSERT INTO reservations (
    order_id, reservation_date, reservation_time, number_of_people,
    table_preference, customer_name, customer_phone, customer_email, special_requests
  ) VALUES (
    p_order_id, p_reservation_date, p_reservation_time, p_number_of_people,
    COALESCE(p_table_preference, suggested_table::TEXT), p_customer_name, 
    p_customer_phone, p_customer_email, p_special_requests
  ) RETURNING id INTO reservation_id;
  
  -- Create table reservation record
  INSERT INTO table_reservations (
    table_number, reservation_date, reservation_time, duration_minutes, reservation_id
  ) VALUES (
    suggested_table, p_reservation_date, p_reservation_time, 120, reservation_id
  );
  
  -- Update order with reservation details
  UPDATE orders SET
    is_reservation = true,
    reservation_date = p_reservation_date,
    reservation_time = p_reservation_time,
    number_of_people = p_number_of_people,
    table_preference = COALESCE(p_table_preference, suggested_table::TEXT),
    customer_name = p_customer_name,
    customer_phone = p_customer_phone,
    customer_email = p_customer_email,
    status = 'reservation_confirmed',
    dining_type = 'reservation'
  WHERE id = p_order_id;
  
  RETURN reservation_id;
END;
$$ LANGUAGE plpgsql;

-- Function to get today's reservations
CREATE OR REPLACE FUNCTION get_todays_reservations()
RETURNS TABLE (
  reservation_id UUID,
  order_id UUID,
  customer_name TEXT,
  customer_phone TEXT,
  number_of_people INTEGER,
  reservation_time TIME,
  table_preference TEXT,
  status TEXT,
  order_total DECIMAL(10,2),
  order_items JSONB
) AS $$
BEGIN
  RETURN QUERY
  SELECT 
    r.id as reservation_id,
    r.order_id,
    r.customer_name,
    r.customer_phone,
    r.number_of_people,
    r.reservation_time,
    r.table_preference,
    r.status,
    o.total as order_total,
    o.items as order_items
  FROM reservations r
  JOIN orders o ON r.order_id = o.id
  WHERE r.reservation_date = CURRENT_DATE
  ORDER BY r.reservation_time ASC;
END;
$$ LANGUAGE plpgsql;

-- Function to get upcoming reservations
CREATE OR REPLACE FUNCTION get_upcoming_reservations(days_ahead INTEGER DEFAULT 7)
RETURNS TABLE (
  reservation_id UUID,
  order_id UUID,
  customer_name TEXT,
  customer_phone TEXT,
  number_of_people INTEGER,
  reservation_date DATE,
  reservation_time TIME,
  table_preference TEXT,
  status TEXT,
  order_total DECIMAL(10,2)
) AS $$
BEGIN
  RETURN QUERY
  SELECT 
    r.id as reservation_id,
    r.order_id,
    r.customer_name,
    r.customer_phone,
    r.number_of_people,
    r.reservation_date,
    r.reservation_time,
    r.table_preference,
    r.status,
    o.total as order_total
  FROM reservations r
  JOIN orders o ON r.order_id = o.id
  WHERE r.reservation_date BETWEEN CURRENT_DATE AND CURRENT_DATE + (days_ahead || ' days')::INTERVAL
  ORDER BY r.reservation_date, r.reservation_time ASC;
END;
$$ LANGUAGE plpgsql;

-- Function to get reservations by date
CREATE OR REPLACE FUNCTION get_reservations_by_date(target_date DATE)
RETURNS TABLE (
  reservation_id UUID,
  order_id UUID,
  customer_name TEXT,
  customer_phone TEXT,
  number_of_people INTEGER,
  reservation_time TIME,
  table_preference TEXT,
  status TEXT,
  order_total DECIMAL(10,2),
  order_items JSONB
) AS $$
BEGIN
  RETURN QUERY
  SELECT 
    r.id as reservation_id,
    r.order_id,
    r.customer_name,
    r.customer_phone,
    r.number_of_people,
    r.reservation_time,
    r.table_preference,
    r.status,
    o.total as order_total,
    o.items as order_items
  FROM reservations r
  JOIN orders o ON r.order_id = o.id
  WHERE r.reservation_date = target_date
  ORDER BY r.reservation_time ASC;
END;
$$ LANGUAGE plpgsql;

-- Enable RLS for new tables
ALTER TABLE reservations ENABLE ROW LEVEL SECURITY;
ALTER TABLE table_reservations ENABLE ROW LEVEL SECURITY;

-- Create policies for new tables
CREATE POLICY "Enable all operations for reservations" ON reservations FOR ALL TO anon USING (true) WITH CHECK (true);
CREATE POLICY "Enable all operations for table_reservations" ON table_reservations FOR ALL TO anon USING (true) WITH CHECK (true);

-- Add comments for documentation
COMMENT ON TABLE reservations IS 'Stores reservation details for dine-in orders';
COMMENT ON TABLE table_reservations IS 'Tracks table availability and reservations';
COMMENT ON COLUMN orders.is_reservation IS 'Indicates if this order is a reservation';
COMMENT ON COLUMN orders.reservation_time IS 'Scheduled time for the reservation';
COMMENT ON COLUMN orders.number_of_people IS 'Number of people for the reservation';
COMMENT ON COLUMN orders.table_preference IS 'Preferred table number or zone preference';
